.shop {
    background-image: url(../images/parchment-2123469_640.jpg);
    background-size: 20%;
    background-repeat: repeat;
    padding-top: 50px;
    &__search {
        background: #ffffff;
        border-radius: 50px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 15px;
        margin-bottom: 40px;
        &-count {
        }
        &-box {
            flex: 0 1 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #e5e5e5;
            border: 1px solid rgba(0, 0, 0, 0.5);
            border-radius: 50px;
            &-input {
                width: 100%;
                font-size: 20px;
                margin-left: 20px;
                background: #e5e5e5;
            }
            &-btn {
                flex: 0 0 50px;
                height: 36px;
                background: #fdb750;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 2px 2px;
            }
            &-svg {
                width: 30px;
                height: 30px;
            }
        }
    }

    &__sort {
    }

    &__content {
        display: flex;
        &-left {
            flex: 0 0 24%;
        }
        &-right {
            flex-grow: 1;
        }
    }

    &__types {
        border-radius: 10px;
        padding: 20px 14px;
        font-size: 20px;
        &-title {
            display: block;
            color: black;
            margin-bottom: 20px;
            padding: 0 10px;
        }
    }

    &__list {
        &-item {
            display: flex;
            justify-content: space-between;
            background-color: rgba(255, 255, 255, 0.7);
            box-shadow: 0 0 7px #000;
            border-radius: 15px;
            padding: 8px 14px;
            align-items: center;
            cursor: pointer;
            &:hover {
                background-color: #dddddd;
            }
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            &.active {
                background: #fdb750;
            }
        }
    }

    &__cardbox {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    &__card {
        border: 1px solid #000000;
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.6);
        flex: 0 0 320px;
        margin-bottom: 20px;
        transition: all 0.3s;
        &:hover {
            transform: scale(1.02);
        }
        &-img {
            border-radius: 15px 15px 0 0;
            overflow: hidden;
            margin-bottom: 15px;
            cursor: pointer;
            & img {
                width: 100%;
            }
        }

        &-textbox {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 0 15px 15px;
            white-space: nowrap;
        }

        &-title {
            font-weight: bold;
            font-size: 32px;
            line-height: 41px;
        }

        &-subtitle {
            font-size: 20px;
        }

        &-row {
            display: flex;
            justify-content: space-between;
            margin: 0 15px 18px;
            font-size: 20px;
            &:not(:last-child) {
                border-bottom: 1px solid #000;
            }
        }

        &-size {
            &-count {
            }
        }

        &-material {
            &-value {
            }
        }

        &-price {
            display: flex;
            flex-direction: column;
            font-size: 16px;
            &-old {
                margin-bottom: 5px;
                color: #999999;
            }

            &-current {
            }
        }

        &-button {
            flex: 0 1 150px;
            background: #2be328;
            border-radius: 10px;
            padding: 8px 0;
            font-size: 16px;
            box-shadow: 0.7px 1px 2px #000;
        }
    }
}
