@import "mixins/mixins.scss";

@import "fonts/fonts.scss";
@import "nullstyle/nullstyle.scss";

@import "header/header.scss";
@import "links-effect/link.scss";
@import "buttons-effect/button.scss";
@import "animation/animation.scss";

body {
    font-family: Roboto;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}
